language: php

env:
    global:
        - REDIS_HOST=localhost
        - MONGO_HOST=localhost
        - DB_NAME=events
        - DB_USER=postgres
        - DB_PASSWORD=
        - DB_HOST=localhost

services:
  - redis-server
  - mongodb
  - postgresql

php:
  - 7.0
  - nightly

matrix:
    fast_finish: true
    allow_failures:
        - php: nightly

before_install:
  - pecl install mongodb
  - echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - echo "extension = mongodb.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - psql -c 'create database events;' -U postgres

install:
  - composer self-update
  - composer install --prefer-dist

script:
 - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
 - vendor/bin/codacycoverage clover build/logs/clover.xml
 - if [ "$TRAVIS_SECURE_ENV_VARS" == "true" ]; then bash <(curl -s https://codecov.io/bash) -f build/logs/clover.xml; fi
